.cfm-player-iframe {
    .cfm-sorry-text {
        font-size: 20px;
        padding: 25px;
    }
}

.iframe-video {
    &__container {
        position: relative;
        padding-bottom: 56.25%;
        border-radius: 8px;
        overflow: hidden;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.ql-size-small {
    font-size: 0.75em;
}
.ql-size-large {
    font-size: 1.5em;
}
.ql-size-huge {
    font-size: 2.5em;
}

.cfm-acf-container {
    &.cfm-acf-above-content .cfm-acf-field-group {
        padding-bottom: 20px;
    }

    &.cfm-acf-below-content .cfm-acf-field-group {
        padding-top: 20px;
    }

    .cfm-acf-field-group-name {
        font-weight: 700;
        margin-bottom: 10px;
    }
    .cfm-acf-field {
        margin-bottom: 10px;
    }
    .cfm-acf-field-label {
        font-weight: 600;
        margin-bottom: 5px;
    }
}

.cfm-transcript {
    .cfm-transcript-content {
        padding: 20px;
        max-height: 400px;
        overflow: auto;
        margin: 20px 0 40px;
        border: 1px solid;
    }
}

body.single-captivate_podcast .fusion-wrapper .fusion-tb-header .cfm-player-iframe,
body.single-captivate_podcast .fusion-wrapper .fusion-tb-header .cfm-transcript,
body.single-captivate_podcast .fusion-wrapper .fusion-tb-footer .cfm-player-iframe,
body.single-captivate_podcast .fusion-wrapper .fusion-tb-footer .cfm-transcript {
	display: none !important;
}