#wpbody-content .wrap {
  margin: 0 auto;
  width: 95%;
  max-width: 1400px;
  padding: 40px;
  background: #fff;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #363636;
  line-height: 1.5;
}
#wpbody-content .wrap h1, #wpbody-content .wrap h2, #wpbody-content .wrap h3, #wpbody-content .wrap h4, #wpbody-content .wrap h5, #wpbody-content .wrap h6 {
  font-weight: 500;
}
#wpbody-content .wrap h1, #wpbody-content .wrap h2 {
  font-size: 32px;
}
#wpbody-content .wrap h3 {
  font-size: 26px;
}
#wpbody-content .wrap h4 {
  font-size: 22px;
}
#wpbody-content .wrap h5 {
  font-size: 20px;
}
#wpbody-content .wrap h6 {
  font-size: 18px;
}
#wpbody-content .wrap p {
  font-size: 16px;
}
#wpbody-content .wrap a {
  color: #4976a7;
  outline: 0;
}
#wpbody-content .wrap a:not([href]):not(.btn) {
  color: #4976a7;
  cursor: pointer;
}
#wpbody-content .wrap a:hover, #wpbody-content .wrap a:focus, #wpbody-content .wrap a:active, #wpbody-content .wrap a:not([href]):not(.btn):hover {
  color: #518fd2;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#wpbody-content .wrap a.disabled {
  pointer-events: none;
}
#wpbody-content .wrap strong {
  font-weight: 500;
}
#wpbody-content .wrap small, #wpbody-content .wrap .small {
  color: #647381;
  font-size: 14px;
  font-weight: 300;
}
#wpbody-content .wrap label {
  margin-bottom: 10px;
}
#wpbody-content .wrap ul, #wpbody-content .wrap ol {
  padding: 0;
}
#wpbody-content .wrap input[type=radio] {
  width: 20px;
  height: 20px;
  min-width: 20px;
}
#wpbody-content .wrap input[type=radio]:checked {
  border-color: #4976a7;
  background-color: #4976a7;
}
#wpbody-content .wrap input[type=radio]:checked::before {
  width: 10px;
  height: 10px;
  margin: 4px;
  background-color: #fff;
}
#wpbody-content .wrap input[type=checkbox] {
  width: 20px;
  height: 20px;
  min-width: 20px;
}
#wpbody-content .wrap input[type=checkbox]:checked {
  background-color: #fff;
}
#wpbody-content .wrap input[type=checkbox]:checked::before {
  width: 18px;
  height: 18px;
  margin: 0;
  background: transparent;
}
#wpbody-content .wrap .btn, #wpbody-content .wrap a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
#wpbody-content .wrap .btn {
  color: #363636;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-weight: 300;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}
#wpbody-content .wrap .btn:hover, #wpbody-content .wrap .btn:focus #wpbody-content .wrap .btn:active {
  color: #363636;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none;
}
#wpbody-content .wrap .btn:disabled, #wpbody-content .wrap .btn.disabled {
  cursor: default;
  pointer-events: none;
}
#wpbody-content .wrap .btn-primary {
  color: #fff;
  background-color: #b866a3;
  border-color: #b866a3;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#wpbody-content .wrap .btn-primary:hover, #wpbody-content .wrap .btn-primary:focus, #wpbody-content .wrap .btn-primary:active {
  color: #fff;
  background-color: #a94f92;
  border-color: #a14a8a;
  text-decoration: none;
}
#wpbody-content .wrap .btn-primary:focus, #wpbody-content .wrap .btn-primary:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(184, 102, 163, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(184, 102, 163, 0.5);
}
#wpbody-content .wrap .btn-secondary {
  color: #212529;
  background-color: #d4d9dd;
  border-color: #d4d9dd;
  -webkit-box-shadow: none;
          box-shadow: none;
}
#wpbody-content .wrap .btn-secondary:hover, #wpbody-content .wrap .btn-secondary:focus, #wpbody-content .wrap .btn-secondary:active {
  color: #212529;
  background-color: #bfc6cc;
  border-color: #b8c0c6;
  text-decoration: none;
}
#wpbody-content .wrap .btn-secondary:focus, #wpbody-content .wrap .btn-secondary:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(185, 190, 194, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(185, 190, 194, 0.5);
}
#wpbody-content .wrap .btn-outline-primary {
  color: #b866a3;
  background-color: transparent;
  border-color: #b866a3;
}
#wpbody-content .wrap .btn-outline-primary:hover, #wpbody-content .wrap .btn-outline-primary:active, #wpbody-content .wrap .btn-outline-primary:focus {
  color: #fff;
  background-color: #b866a3;
  border-color: #b866a3;
  text-decoration: none;
}
#wpbody-content .wrap .btn-outline-primary:focus, #wpbody-content .wrap .btn-outline-primary:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(184, 102, 163, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(184, 102, 163, 0.5);
}
#wpbody-content .wrap .btn-outline-secondary {
  color: #212529;
  border-color: #647381;
}
#wpbody-content .wrap .btn-outline-secondary:hover, #wpbody-content .wrap .btn-outline-secondary:active, #wpbody-content .wrap .btn-outline-secondary:focus {
  color: #212529;
  background-color: #eff3fa;
  border-color: #647381;
  text-decoration: none;
}
#wpbody-content .wrap .btn-outline-secondary:focus, #wpbody-content .wrap .btn-outline-secondary:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(185, 190, 194, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(185, 190, 194, 0.5);
}
#wpbody-content .wrap .btn-outline-dark {
  color: #647381;
  border-color: #647381;
}
#wpbody-content .wrap .btn-outline-dark:hover, #wpbody-content .wrap .btn-outline-dark:active, #wpbody-content .wrap .btn-outline-dark:focus {
  color: #fff;
  background-color: #647381;
  border-color: #647381;
  text-decoration: none;
}
#wpbody-content .wrap .btn-outline-dark:focus, #wpbody-content .wrap .btn-outline-dark:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(100, 115, 129, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(100, 115, 129, 0.5);
}
#wpbody-content .wrap .btn-md {
  font-size: 12px;
  padding: 6px 14px;
}
#wpbody-content .wrap .btn-sm {
  font-size: 11px;
  padding: 4px 12px;
}
#wpbody-content .wrap .cfm-field small {
  margin: 10px 0;
  display: block;
}
#wpbody-content .wrap .cfm-field-list-check ul li {
  margin-bottom: 0;
}
#wpbody-content .wrap .cfm-field-list-check ul ul.children {
  padding-left: 26px;
}
#wpbody-content .wrap .form-group {
  margin: 0;
}
#wpbody-content .wrap .input-group > .form-control:not(:first-child), #wpbody-content .wrap .input-group .input-group-button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 0;
}
#wpbody-content .wrap .input-group > .form-control:not(:last-child), #wpbody-content .wrap .input-group .input-group-button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}
#wpbody-content .wrap .input-group .input-group-text {
  background: #eff3fa;
  border-color: #647381;
  color: #647381;
  font-weight: 300;
}
#wpbody-content .wrap .input-group .input-group-button {
  background: #eff3fa;
}
#wpbody-content .wrap .input-group .input-group-button:hover {
  background: #d4d9dd;
}
#wpbody-content .wrap .form-control {
  border: 1px solid #647381;
  padding: 12px 16px;
  max-width: 100%;
  line-height: 24px;
  border-radius: 3px;
  letter-spacing: normal;
  margin: 0;
  min-height: 44px;
  height: auto;
  font-weight: 300;
  font-size: 18px;
}
#wpbody-content .wrap .form-control.search {
  border: 1px solid #f4f4f4;
  color: #363636;
  background-color: #f4f4f4;
  border-radius: 3px;
  font-size: 14px;
  padding: 6px 12px 6px 35px;
  min-height: 0;
}
#wpbody-content .wrap .form-control:focus {
  border: 1px solid #b866a3;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fdf4f9;
}
#wpbody-content .wrap .form-control:disabled {
  background-color: #eff3fa;
}
#wpbody-content .wrap .form-control::-webkit-input-placeholder {
  color: #AAB2BB;
}

#wpbody-content .wrap .form-control:-moz-placeholder {
  color: #AAB2BB;
}

#wpbody-content .wrap .form-control::-moz-placeholder {
  color: #AAB2BB;
}

#wpbody-content .wrap .form-control:-ms-input-placeholder {
  color: #AAB2BB;
}

#wpbody-content .wrap .form-control.is-invalid, #wpbody-content .wrap .form-control:invalid {
  border-color: #dc3545;
  padding-right: 40px;
  background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='exclamation-triangle' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' style='width: 18px;'%3e%3cpath fill='%23dc3545' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 20px;
}
#wpbody-content .wrap .form-control.form-control-sm {
  padding: 3px 12px 2px;
  font-size: 14px;
  min-height: 30px;
}
#wpbody-content .wrap select.form-control.form-control-sm {
  padding-right: 26px;
}
#wpbody-content .wrap .invalid-feedback {
  margin-top: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #dc3545;
}
#wpbody-content .wrap .form-check:not(.form-check-inline) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wpbody-content .wrap .form-check .form-check-input {
  margin-top: 1px;
}
#wpbody-content .wrap .form-check .form-check-label {
  margin-bottom: 0;
  padding-left: 6px;
}
#wpbody-content .wrap .form-check-inline {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wpbody-content .wrap .form-check-inline .form-check-label {
  font-size: 14px;
  padding-top: 2px;
}
#wpbody-content .wrap .invalid-control.is-invalid, #wpbody-content .wrap .invalid-control:invalid {
  border-color: #dc3545;
  padding-right: 40px;
  background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='exclamation-triangle' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' style='width: 18px;'%3e%3cpath fill='%23dc3545' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'%3e%3c/path%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 20px;
}
#wpbody-content .wrap .invalid-control ~ .invalid-feedback {
  display: block;
}
#wpbody-content .wrap .wp-picker-container {
  display: block;
  position: relative;
}
#wpbody-content .wrap .wp-picker-container .button {
  padding-left: 50px;
  width: 100%;
}
#wpbody-content .wrap .wp-picker-container .wp-color-result-text {
  border-color: #647381;
  padding: 6px 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
}
#wpbody-content .wrap .wp-picker-container .wp-picker-input-wrap {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 20;
}
#wpbody-content .wrap .wp-picker-container .wp-picker-input-wrap:not(.hidden) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#wpbody-content .wrap .wp-picker-container .wp-picker-input-wrap .wp-color-picker {
  padding: 0 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.2;
  width: 80px;
}
#wpbody-content .wrap .wp-picker-container .wp-picker-input-wrap .wp-picker-clear {
  height: 30px;
  padding: 0;
  line-height: 1.2;
}
#wpbody-content .wrap .wp-picker-container .wp-picker-holder {
  position: absolute;
  top: 67px;
  z-index: 20;
}
#wpbody-content .wrap .text-copy {
  font-family: Space Mono, monospace;
  font-size: 14px;
  padding: 10px 16px;
  background: #edf2fc;
  border-radius: 5px;
  color: #647381;
}
#wpbody-content .wrap .cfm-shownotes-editor {
  display: none;
}
#wpbody-content .wrap .cfm-wordpress-editor .insert-media {
  font-size: 11px;
  padding: 2px 12px;
  color: #b866a3;
  border-color: #b866a3;
}
#wpbody-content .wrap .cfm-wordpress-editor .insert-media:hover, #wpbody-content .wrap .cfm-wordpress-editor .insert-media:active, #wpbody-content .wrap .cfm-wordpress-editor .insert-media:focus {
  color: #fff;
  background-color: #b866a3;
  border-color: #b866a3;
}
#wpbody-content .wrap .cfm-wordpress-editor .insert-media:focus, #wpbody-content .wrap .cfm-wordpress-editor .insert-media:active {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(184, 102, 163, 0.5);
          box-shadow: 0 0 0 0.2rem rgba(184, 102, 163, 0.5);
}
#wpbody-content .wrap .cfm-dropdown-picker .dropdown-menu {
  max-height: 400px;
  max-width: 500px;
  overflow: auto;
}
#wpbody-content .wrap .cfm-dropdown-picker .dropdown-menu .dropdown-row-group .dropdown-header {
  font-weight: 500;
  font-size: 16px;
}
#wpbody-content .wrap .cfm-dropdown-picker .dropdown-menu .dropdown-row-group .dropdown-item {
  padding-left: 30px;
}
#wpbody-content .wrap .cfm-dropdown-picker .dropdown-menu .dropdown-item {
  font-weight: 300;
  font-size: 14px;
  white-space: pre-wrap;
}
#wpbody-content .wrap .cfm-dropdown-picker .dropdown-menu span {
  padding: 6px 12px 6px 30px;
  font-size: 14px;
}
#wpbody-content .wrap .cfm-dropdown-picker .cfm-dropdown-selected span {
  cursor: pointer;
  margin: 10px 10px 0 0;
  padding: 3px 8px;
  display: inline-block;
  background: #eff3fa;
  border: 1px solid #647381;
  color: #647381;
  font-weight: 300;
  font-size: 14px;
}
#wpbody-content .wrap .cfm-dropdown-picker small.status {
  padding: 0 10px;
  font-size: 12px;
  font-weight: 300;
  border-radius: 30px;
  margin: 0 0 0 10px;
  display: inline-block;
  border: 1px solid;
}
#wpbody-content .wrap .cfm-dropdown-picker small.status.published {
  background-color: #e4f2e8;
  color: #4ca663;
  border-color: #4ca663;
}
#wpbody-content .wrap .cfm-dropdown-picker small.status.scheduled {
  background-color: #fef3df;
  color: #c27e00;
  border-color: #c27e00;
}
#wpbody-content .wrap .cfm-dropdown-picker small.status.exclusive {
  background-color: #fce9ed;
  color: #b26073;
  border-color: #b26073;
}
#wpbody-content .wrap .cfm-dropdown-picker small.status.early-access {
  background-color: #e1f7fe;
  color: #0489ae;
  border-color: #0489ae;
}
#wpbody-content .wrap .cfm-dropdown-picker small.status.draft {
  background-color: #e8eaec;
  color: #647381;
  border-color: #647381;
}
#wpbody-content .wrap .cfm-dropdown-picker small.status.expired {
  background-color: #fae1e3;
  color: #dc3545;
  border-color: #dc3545;
}
#wpbody-content .wrap .cfm-seo-description .cfm-seo-description-count {
  height: 10px;
  background: #e9ecef;
  margin-top: 5px;
  border-radius: 3px;
}
#wpbody-content .wrap .cfm-seo-description .cfm-seo-description-progress {
  height: 10px;
  border-radius: 3px;
}
#wpbody-content .wrap .cfm-field-groups .acf-field-group-name {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}
#wpbody-content .wrap .cfm-field-groups .acf-field-group {
  margin-bottom: 20px;
}
#wpbody-content .wrap .cfm-field-groups .acf-field-group .acf-field {
  margin-bottom: 15px;
}
#wpbody-content .wrap .cfm-field-groups .acf-field-group .acf-field > label {
  display: block;
  margin: 0 0 5px;
}
#wpbody-content .wrap .cfm-field-groups .acf-field-group .acf-field > label span {
  color: #f15a24;
}
#wpbody-content .wrap .cfm-field-groups .acf-field-group .acf-field > input:not([type=checkbox]):not([type=range]),
#wpbody-content .wrap .cfm-field-groups .acf-field-group .acf-field > textarea {
  width: 100%;
}
#wpbody-content .wrap .cfm-field-groups .acf-field-group .acf-field .acf-field-instructions {
  font-size: 14px;
  margin-top: 5px;
}
#wpbody-content .wrap .cfm-field-groups .acf-field-group .acf-field .invalid-feedback {
  display: block;
}
#wpbody-content .wrap .cfm-alert {
  position: relative;
  margin-bottom: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wpbody-content .wrap .cfm-alert .alert-icon {
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 18px;
  padding: 6px 14px;
  border-radius: 6px;
  margin: 2px;
}
#wpbody-content .wrap .cfm-alert .alert-text {
  color: #363636;
  margin-left: 20px;
  font-weight: 300;
}
#wpbody-content .wrap .cfm-alert-success {
  background-color: #e4f2e8;
  border-color: #d8ebdd;
}
#wpbody-content .wrap .cfm-alert-success .alert-icon {
  background: #d8ebdd;
  color: #4ca663;
}
#wpbody-content .wrap .cfm-alert-success .alert-icon:before {
  content: "\f058";
}
#wpbody-content .wrap .cfm-alert-warning {
  background-color: #FDEFD5;
  border-color: #FCE2B3;
}
#wpbody-content .wrap .cfm-alert-warning .alert-icon {
  background: #FCE2B3;
  color: #C27E00;
}
#wpbody-content .wrap .cfm-alert-warning .alert-icon:before {
  content: "\f071";
}
#wpbody-content .wrap .cfm-alert-error {
  background-color: #F8D7DA;
  border-color: #F2B7BC;
}
#wpbody-content .wrap .cfm-alert-error .alert-icon {
  background: #F4C3C7;
  color: #dc3545;
}
#wpbody-content .wrap .cfm-alert-error .alert-icon:before {
  content: "\f06a";
}
#wpbody-content .wrap .cfm-content-switcher {
  background: #eff3fa;
  border-radius: 100px;
  padding: 4px;
}
#wpbody-content .wrap .cfm-content-switcher > a {
  background: #fff;
  border-radius: 100px;
  color: #647381;
  padding: 2px 10px;
  opacity: 0.5;
}
#wpbody-content .wrap .cfm-content-switcher > a:hover {
  opacity: 1;
}
#wpbody-content .wrap .cfm-content-switcher > a.active {
  opacity: 1;
  color: #b866a3;
  pointer-events: none;
}
#wpbody-content .wrap .cfm-content-switcher > a:first-child {
  margin-right: 6px;
}
#wpbody-content .wrap .cfm-dropdown-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-toggle:after {
  margin-left: 8px;
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu {
  background-color: #fff;
  border-radius: 3px;
  border: 0 solid rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dropdown-search {
  margin: 0 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  position: relative;
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dropdown-search i {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dropdown-checkbox {
  padding: 6px 8px 4px;
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dropdown-checkbox label {
  font-size: 14px;
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dropdown-contents {
  max-height: 400px;
  overflow-y: auto;
  border-top: 1px solid #dee2e6;
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dropdown-item {
  padding: 8px 20px;
  font-weight: 300;
  color: #212529;
  white-space: pre-wrap;
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dropdown-item:hover, #wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dropdown-item.active, #wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dropdown-item:active {
  background: #eff3fa;
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dt-conditional {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dt-conditional .conditional {
  background-color: #fff;
  border: 1px solid #aab2bb;
  border-radius: 3px;
  color: #647381;
  font-size: 12px;
  padding: 0 5px;
  line-height: 1.25;
  margin-top: 2px;
  margin-bottom: 2px;
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dt-conditional .arrow-right {
  position: relative;
  width: 10px;
  height: 0;
  border-bottom: 1px solid #aab2bb;
  margin-right: 5px;
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dt-conditional .arrow-right:after {
  content: "";
  border: solid #aab2bb;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 2px;
  -ms-transform: translateX(100%) translateY(-14px) rotate(-45deg);
      transform: translateX(100%) translateY(-14px) rotate(-45deg);
  -webkit-transform: translateX(100%) translateY(-14px) rotate(-45deg);
}
#wpbody-content .wrap .cfm-dropdown-menu .dropdown-menu .dt-conditional .quarter-circle-top-right {
  width: 14px;
  height: 12px;
  border: 1px solid #aab2bb;
  border-width: 0 0 1px 1px;
  border-radius: 0 0 0 100%;
  margin-bottom: 10px;
}
#wpbody-content .wrap .cfm-dropdown-menu.dropdown-sort span {
  font-weight: 500;
  font-size: 14px;
}
#wpbody-content .wrap .cfm-dropdown-menu.dropdown-sort .btn {
  border: 0;
}
#wpbody-content .wrap .cfm-dropdown-menu.dropdown-sort .btn:active, #wpbody-content .wrap .cfm-dropdown-menu.dropdown-sort .btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
#wpbody-content .wrap .cfm-dropzone .dropzone {
  border: 1px dashed #b866a3;
  background: #f9f2f7;
  border-radius: 5px;
  padding: 1px;
}
#wpbody-content .wrap .cfm-dropzone .dropzone .dz-preview {
  display: none;
}
#wpbody-content .wrap .cfm-dropzone .dropzone .dz-default {
  margin: 0;
  padding: 25px;
}
#wpbody-content .wrap .cfm-dropzone .dropzone .dz-default .dz-content {
  font-weight: 300;
}
#wpbody-content .wrap .cfm-dropzone .dropzone .dz-default i {
  color: #b866a3;
  font-size: 32px;
  margin-bottom: 10px;
  display: block;
}
#wpbody-content .wrap .cfm-dropzone .dropzone .dz-default strong {
  color: #4976a7;
}
#wpbody-content .wrap .cfm-dropzone .dropzone .dz-default small {
  display: block;
  margin-top: 10px;
}
#wpbody-content .wrap .cfm-dropzone .dropzone-uploader {
  display: none;
}
#wpbody-content .wrap .cfm-dropzone .dropzone-preloader {
  display: none;
}
#wpbody-content .wrap .cfm-dropzone .dropzone-preloader .dropzone-progress {
  width: 100%;
  background-color: #eff3fa;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
}
#wpbody-content .wrap .cfm-dropzone .dropzone-preloader .dropzone-progress .progress-bar {
  background: #b866a3;
  background-size: 100%;
  height: 40px;
  width: 0;
}
#wpbody-content .wrap .cfm-dropzone .dropzone-preloader .dropzone-progress-info * {
  font-size: 14px;
}
#wpbody-content .wrap .cfm-dropzone .dropzone-result audio {
  width: 100%;
  background: #eff3fa;
  border-radius: 3px;
}
#wpbody-content .wrap .cfm-dropzone .dropzone-result .dropzone-result-info {
  margin-top: 10px;
}
#wpbody-content .wrap .cfm-dropzone .dropzone-result .result-info {
  font-size: 14px;
  color: #647381;
  font-weight: 300;
}
#wpbody-content .wrap .cfm-dropzone.fake-dropzone .fd-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}
#wpbody-content .wrap .cfm-dropzone.fake-dropzone .fd-col-image {
  width: 120px;
  height: 120px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
}
#wpbody-content .wrap .cfm-dropzone.fake-dropzone .fd-col-browse {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 140px);
          flex: 0 0 calc(100% - 140px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 20px;
}
#wpbody-content .wrap .cfm-dropzone.fake-dropzone .dropzone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: pointer;
  min-height: 120px;
}
#wpbody-content .wrap .cfm-dropzone.fake-dropzone .fd-result {
  background: #eff3fa;
  border-radius: 8px;
  font-size: 42px;
  color: #4976a7;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#wpbody-content .wrap .cfm-dropzone.fake-dropzone .fd-result img {
  width: 100%;
}
#wpbody-content .wrap .cfm-dropzone.fake-dropzone .fd-uploader {
  display: none;
}
#wpbody-content .wrap .cfm-dropzone.fake-dropzone .fd-replace {
  display: none;
}
#wpbody-content .wrap .ql-toolbar {
  border: 1px solid #647381;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#wpbody-content .wrap .ql-toolbar *:not(i) {
  font-family: Poppins, sans-serif;
  font-weight: 300;
  font-size: 16px;
}
#wpbody-content .wrap .ql-toolbar.is-invalid {
  border-bottom-color: #dc3545;
}
#wpbody-content .wrap .ql-toolbar .ql-formats:not(:last-child):not(:empty) {
  border-right: 1px solid #d4d9dd;
  padding-right: 10px;
  margin-right: 8px;
}
#wpbody-content .wrap .ql-toolbar .ql-formats-custom .btn {
  width: auto;
  padding: 0;
  font-size: 14px;
}
#wpbody-content .wrap .ql-container {
  height: 340px;
  border: 1px solid #647381;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-top: 0;
}
#wpbody-content .wrap .ql-container .ql-editor {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 300;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable {
  background: #e8e8e8;
  color: #363636;
  padding: 2px 8px;
  border-radius: 5px;
  cursor: default;
  pointer-events: none;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="1"] {
  background-color: #e7f3ea;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="2"] {
  background-color: #f8e2ef;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="3"] {
  background-color: #dcf6fe;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="4"] {
  background-color: #fce5de;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="5"] {
  background-color: #fef2dd;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="6"] {
  background-color: #e7f3ea;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="7"] {
  background-color: #f8e2ef;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="8"] {
  background-color: #dcf6fe;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="9"] {
  background-color: #fce5de;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="10"] {
  background-color: #fef2dd;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="11"] {
  background-color: #e7f3ea;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="12"] {
  background-color: #f8e2ef;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="13"] {
  background-color: #dcf6fe;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="14"] {
  background-color: #fce5de;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="15"] {
  background-color: #fef2dd;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="16"] {
  background-color: #e7f3ea;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="17"] {
  background-color: #f8e2ef;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="18"] {
  background-color: #dcf6fe;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="19"] {
  background-color: #fce5de;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor dt-variable[data-conditional-depth="20"] {
  background-color: #fef2dd;
  font-weight: 500;
}
#wpbody-content .wrap .ql-container .ql-editor p, #wpbody-content .wrap .ql-container .ql-editor ol, #wpbody-content .wrap .ql-container .ql-editor ul {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 1.82;
}
#wpbody-content .wrap .modal {
  top: 0;
  z-index: 9999;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}
#wpbody-content .wrap .modal.confirmation-modal {
  top: 0;
}
#wpbody-content .wrap .modal .modal-title {
  font-size: 20px;
  margin: 0px;
  font-weight: 500;
}
#wpbody-content .wrap .modal .modal-content {
  border: 0;
  padding: 20px;
  border-radius: 18px;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  top: 50px;
  left: auto;
}
#wpbody-content .wrap .modal .modal-content .offcanvas-header {
  background: -webkit-gradient(linear, left top, right top, from(#ca8cba), to(#f9cabe));
  background: linear-gradient(90deg, #ca8cba 0%, #f9cabe 100%);
  padding: 14px;
  margin: -20px;
}
#wpbody-content .wrap .modal .modal-content .offcanvas-header .close-btn {
  background: #f4f4f4;
  color: #4976a7;
  border-radius: 6px;
  border: 0;
  font-weight: 500;
  padding: 6px 14px;
  font-size: 14px;
}
#wpbody-content .wrap .modal .modal-content .offcanvas-header .close-btn:hover {
  background: #e8e8e8;
}
#wpbody-content .wrap .modal .modal-header {
  border: 0;
}
#wpbody-content .wrap .modal .modal-header .btn-close {
  font-size: 26px;
  font-weight: 300;
  padding: 2px 10px;
  margin: -5px -10px 0 0;
  color: #4976a7;
  opacity: 1;
  background: none;
  border: 0;
}
#wpbody-content .wrap .modal .modal-header .btn-close:hover {
  color: #518fd2;
}
#wpbody-content .wrap .modal .modal-header .btn-close:focus, #wpbody-content .wrap .modal .modal-header .btn-close:active {
  outline: none;
}
#wpbody-content .wrap .modal .modal-footer {
  border: 0;
}
#wpbody-content .wrap .modal.modal-slideout {
  top: 0;
  z-index: 99999;
  padding: 0;
}
#wpbody-content .wrap .modal.modal-slideout .modal-dialog-slideout {
  margin: 0 0 0 auto;
  background: #fff;
}
#wpbody-content .wrap .modal.modal-slideout .modal-dialog-slideout .modal-content {
  border-radius: 0;
}
#wpbody-content .wrap .modal.modal-slideout.fade .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(100%, 0) scale(1);
      -ms-transform: translate(100%, 0) scale(1);
          transform: translate(100%, 0) scale(1);
  min-height: 730px;
  height: 100%;
  max-width: 800px;
}
#wpbody-content .wrap .modal.modal-slideout.fade .modal-dialog.modal-dialog-slideout .modal-content {
  top: 0;
  height: 100%;
}
#wpbody-content .wrap .modal.modal-slideout.fade.show .modal-dialog.modal-dialog-slideout {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
#wpbody-content .wrap .modal.modal-slideout.fade.show .modal-dialog.modal-dialog-slideout .modal-body {
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  max-height: 75%;
}
#wpbody-content .wrap .modal.modal-slideout .cfm-modal-field-group-name {
  font-weight: 500;
  font-size: 18px;
}
#wpbody-content .wrap .modal.modal-slideout .cfm-modal-field label {
  display: block;
}
#wpbody-content .wrap .modal.modal-slideout .cfm-modal-field > input:not([type=checkbox]):not([type=range]),
#wpbody-content .wrap .modal.modal-slideout .cfm-modal-field > textarea {
  width: 100%;
}
#wpbody-content .wrap .modal.modal-slideout .cfm-modal-field .fd-col-image {
  width: 80px;
  height: 80px;
}
#wpbody-content .wrap .modal.modal-slideout .cfm-modal-field .dropzone {
  min-height: 80px;
}
#wpbody-content .wrap .modal.modal-slideout .cfm-modal-field .dropzone .dz-default {
  padding: 0;
}
#wpbody-content .wrap .modal.show {
  opacity: 1;
  visibility: visible;
}
#wpbody-content .wrap .modal .cfm-captivate-shows ul {
  border-top: 1px solid #e8e8e8;
}
#wpbody-content .wrap .modal .cfm-captivate-shows ul li {
  border-bottom: 1px solid #e8e8e8;
  padding: 16px 0;
  margin: 0;
}
#wpbody-content .wrap .cfm-timepicker .dropdown-toggle {
  background: url("data:image/svg+xml,%3csvg aria-hidden='true' focusable='false' data-prefix='fas' data-icon='chevron-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512' style='16px'%3e%3cpath fill='currentColor' d='M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z'%3e%3c/path%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
}
#wpbody-content .wrap .cfm-timepicker .dropdown-toggle:focus {
  background-color: #fdf4f9;
}
#wpbody-content .wrap .cfm-timepicker .dropdown-menu {
  height: 200px;
  overflow-y: auto;
}
#wpbody-content .wrap .cfm-timepicker .dropdown-menu .dropdown-item {
  padding: 12px 16px;
  font-weight: 300;
}
#wpbody-content .wrap .cfm-timepicker .dropdown-menu .dropdown-item:hover {
  background-color: #eff3fa;
}
#wpbody-content .wrap .cfm-page-heading {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
  background: #eff3fa;
  border-radius: 8px;
  padding: 20px;
}
#wpbody-content .wrap .cfm-page-heading .cfm-page-artwork {
  width: 69px;
  height: 69px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  overflow: hidden;
  border: 1px solid #f4f4f4;
  border-radius: 6px;
  background: linear-gradient(45deg, #b866a3, #f29ead 50%, #f5d4e5);
  margin-right: 20px;
}
#wpbody-content .wrap .cfm-page-heading .cfm-page-title {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 309px);
          flex: 0 0 calc(100% - 309px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#wpbody-content .wrap .cfm-page-heading .cfm-page-title h1 {
  margin: 0;
  padding: 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #647381;
  font-size: 24px;
}
#wpbody-content .wrap .cfm-page-heading .cfm-page-title .podcast-settings {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}
#wpbody-content .wrap .cfm-page-heading .cfm-page-title .podcast-settings a, #wpbody-content .wrap .cfm-page-heading .cfm-page-title .podcast-settings span {
  display: inline-block;
  text-decoration: none;
  margin: 8px 10px 2px 0;
  font-size: 14px;
  font-weight: 400;
}
#wpbody-content .wrap .cfm-page-heading .cfm-page-title .podcast-settings span {
  color: #647381;
  font-weight: 300;
}
#wpbody-content .wrap .cfm-page-heading .cfm-page-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 220px;
          flex: 0 0 220px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#wpbody-content .wrap .cfm-page-heading .cfm-page-logo img {
  width: 100%;
}
#wpbody-content .wrap .cfm-page-heading.no-art .cfm-page-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 220px);
          flex: 0 0 calc(100% - 220px);
}
#wpbody-content .wrap .cfm-page-heading.no-art .cfm-page-title h1 {
  color: #363636;
  font-size: 32px;
}
#wpbody-content .wrap .cfm-page-content {
  min-height: 320px;
}
#wpbody-content .wrap .cfm-page-content .authentication-name {
  margin-bottom: 20px;
  font-weight: 300;
}
#wpbody-content .wrap .cfm-page-content .authentication-date i {
  color: #4ca663;
}
#wpbody-content .wrap .cfm-page-content .authentication-date span {
  color: #647381;
}
#wpbody-content .wrap .sub-title {
  margin-bottom: 30px;
}
#wpbody-content .wrap .cfm-shows-grid .show-object {
  padding: 20px;
  border: 1px solid #d4d9dd;
  border-radius: 3px;
}
#wpbody-content .wrap .cfm-shows-grid .show-object img {
  width: 100%;
}
#wpbody-content .wrap .cfm-shows-grid .show-object label {
  margin: 0;
}
#wpbody-content .wrap .cfm-shows-grid .show-object:hover {
  border: 2px solid #b866a3;
  margin: -1px;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row {
  border-bottom: 1px solid #e8e8e8;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-row-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 15px;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-cell:first-child {
  padding-left: 0;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-cell:last-child {
  padding-right: 0;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-toggle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-toggle a {
  color: #b866a3;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-cover {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-title a {
  display: block;
  width: 100%;
  text-decoration: none;
  font-weight: 500;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-title span {
  font-weight: 300;
  font-size: 14px;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-actions {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-actions > div {
  text-align: right;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-actions select {
  width: 150px;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-actions .btn {
  background-color: #eff3fa;
  color: #4976a7;
  margin: 2px 0 2px 10px;
  padding: 6px 10px;
  width: 36px;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-actions .btn:hover {
  color: #4976a7;
  border-color: #4976a7;
  text-decoration: none;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-actions .btn.disabled {
  background-color: #fff;
  border-color: #647381;
  color: #647381;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-guest-name {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-rl-label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-row-detail {
  display: none;
  padding: 14px;
  background: #f4f4f4;
  margin: 5px 0 15px 25px;
  border-radius: 6px;
  font-size: 14px;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-row .datatable-row-detail .separator {
  border-right: 1px solid #aab2bb;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-head .datatable-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#wpbody-content .wrap .cfm-datatable-list .datatable-head .datatable-cell {
  color: #647381;
  font-size: 14px;
}
#wpbody-content .wrap .cfm-shows-list .datatable-group .datatable-actions {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#wpbody-content .wrap .cfm-shows-list .datatable-group .datatable-actions select {
  margin-bottom: 10px;
}
#wpbody-content .wrap .cfm-shows-list .datatable-group .datatable-actions .icon-actions {
  width: 100%;
  text-align: right;
  margin: 0;
}
#wpbody-content .wrap .cfm-website-categories-wrap,
#wpbody-content .wrap .cfm-website-tags-wrap,
#wpbody-content .wrap .cfm-website-taxonomy-wrap {
  height: 148px;
  overflow-y: auto;
}
#wpbody-content .wrap .cfm-website-categories-wrap li,
#wpbody-content .wrap .cfm-website-tags-wrap li,
#wpbody-content .wrap .cfm-website-taxonomy-wrap li {
  font-size: 14px;
}
#wpbody-content .wrap .cfm-content-spinner {
  height: 250px;
}
#wpbody-content .wrap #cfm-modal-footer-edit {
  width: 100%;
}
#wpbody-content .wrap .cmf-transcript-wrap a {
  text-decoration: none;
}
#wpbody-content .wrap .transcript-upload-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #eff3fa;
  padding: 20px;
  margin-top: 16px;
  font-size: 16px;
  line-height: 24px;
}
#wpbody-content .wrap .transcript-upload-box a {
  text-decoration: none;
}
#wpbody-content .wrap .transcript-upload-box.disabled {
  opacity: 0.6;
}
#wpbody-content .wrap .transcript-upload-box.disabled a {
  cursor: default;
  pointer-events: none;
}
#wpbody-content .wrap .cfm-nav-tabs {
  margin-bottom: 30px;
}
#wpbody-content .wrap .cfm-nav-tabs .nav-item {
  margin-right: 20px;
  margin-bottom: 0;
}
#wpbody-content .wrap .cfm-nav-tabs .nav-link {
  color: #647381;
  font-weight: 300;
  border: 1px solid transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-bottom: 10px;
  -webkit-transition: none;
  transition: none;
}
#wpbody-content .wrap .cfm-nav-tabs .nav-link.active {
  color: #363636;
  font-weight: 500;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom-width: 3px;
  border-color: #b866a3;
}
#wpbody-content .wrap .shortcode-preview {
  max-height: 460px;
  overflow: auto;
  padding: 0 10px 0 0;
}
#wpbody-content .wrap .shortcode-preview * {
  text-decoration: none;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid:before, #wpbody-content .wrap .shortcode-preview .cfm-episodes-grid:after {
  content: "";
  display: table;
  clear: both;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid .cfm-episode-wrap {
  height: auto;
  padding: 0 15px;
  display: inline-block;
  width: 33.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  margin-bottom: 30px;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid .cfm-episode-wrap:before, #wpbody-content .wrap .shortcode-preview .cfm-episodes-grid .cfm-episode-wrap:after {
  content: "";
  display: table;
  clear: both;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid.cfm-episodes-cols-2 .cfm-episode-wrap {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid.cfm-episodes-cols-3 .cfm-episode-wrap {
  width: 33.33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid.cfm-episodes-cols-4 .cfm-episode-wrap {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid.cfm-episodes-cols-5 .cfm-episode-wrap {
  width: 20%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid.cfm-episodes-cols-6 .cfm-episode-wrap {
  width: 16.66%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 16.66%;
          flex: 0 1 16.66%;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid .cfm-episode-player {
  margin-bottom: 20px;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid .cfm-episode-image {
  margin-bottom: 20px;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid .cfm-episode-image img {
  max-width: 100%;
  height: auto;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid .cfm-episode-title {
  margin-bottom: 20px;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-grid .cfm-episode-content {
  margin-bottom: 20px;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list {
  width: 100%;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list:before, #wpbody-content .wrap .shortcode-preview .cfm-episodes-list:after {
  content: "";
  display: table;
  clear: both;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-wrap {
  padding-bottom: 40px;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-wrap:before, #wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-wrap:after {
  content: "";
  display: table;
  clear: both;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-player {
  margin-bottom: 20px;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-image {
  margin-bottom: 20px;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-image img {
  max-width: 100%;
  height: auto;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-title {
  margin-bottom: 20px;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-content {
  margin-bottom: 20px;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-has-image-beside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-image-right {
  float: right;
  max-width: 33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-image-right .cfm-episode-image {
  margin-bottom: 0;
  margin-left: 20px;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-image-left {
  float: left;
  max-width: 33%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33%;
          flex: 0 1 33%;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-image-left .cfm-episode-image {
  margin-bottom: 0;
  margin-right: 20px;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-content-right {
  float: left;
  max-width: 67%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67%;
          flex: 0 1 67%;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-content-right .cfm-episode-title h1, #wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-content-right .cfm-episode-title h2, #wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-content-right .cfm-episode-title h3, #wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-content-right .cfm-episode-title h4, #wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-content-right .cfm-episode-title h5, #wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-content-right .cfm-episode-title h6 {
  margin: 0;
}
#wpbody-content .wrap .shortcode-preview .cfm-episodes-list .cfm-episode-content-left {
  float: left;
  max-width: 67%;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67%;
          flex: 0 1 67%;
}
#wpbody-content .wrap .cfm-page-footer {
  background-color: #e8e8e8;
  margin-top: 50px;
}
#wpbody-content .wrap .cfm-page-footer .footer-content {
  padding: 20px 20px 10px;
}
#wpbody-content .wrap .cfm-page-footer .footer-content * {
  font-size: 14px;
  text-decoration: none;
}
#wpbody-content .wrap .cfm-page-footer .footer-content p {
  margin: 0;
}
#wpbody-content .wrap .cfm-page-footer .footer-content .footer-left {
  margin-bottom: 20px;
}
#wpbody-content .wrap .cfm-page-footer .footer-content .footer-left .made-with-love i {
  color: #b866a3;
}
#wpbody-content .wrap .cfm-page-footer .footer-content .footer-right a {
  display: block;
  margin: 10px 0;
}

.ui-datepicker {
  padding: 0 !important;
  width: 234px !important;
  background: #fff;
}
.ui-datepicker .ui-datepicker-header {
  background: #f8f9fa;
  border: 0;
}
.ui-datepicker .ui-datepicker-header > a {
  top: 4px !important;
  text-align: center;
  padding: 4px 10px !important;
  width: auto !important;
  height: auto !important;
}
.ui-datepicker .ui-datepicker-header > a span {
  display: none !important;
}
.ui-datepicker .ui-datepicker-header > a:after {
  color: #c58fac;
  font-family: "Font Awesome 5 Pro";
  top: 0;
  font-weight: 400;
}
.ui-datepicker .ui-datepicker-header > a:hover {
  background: none;
  border: 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev {
  cursor: pointer;
  text-decoration: none;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-prev:after {
  content: "\f053";
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next {
  text-decoration: none;
  cursor: pointer;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-next:after {
  content: "\f054";
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title {
  margin: 0 34px;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title select {
  width: 50%;
  padding: 0 0.5rem;
  font-size: 0.875rem !important;
  height: 1.85rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-color: white;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
}
.ui-datepicker .ui-datepicker-calendar thead {
  background: #f8f9fa;
  color: #b866a3;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  font-family: Poppins, sans-serif;
  -webkit-font-smoothing: antialiased;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.ui-datepicker .ui-datepicker-calendar thead th {
  font-weight: 300;
}
.ui-datepicker .ui-datepicker-calendar tbody td a {
  border-color: #fff !important;
  background: none !important;
  border-radius: 0.25rem;
  text-align: center;
  color: #000;
  font-family: Poppins, sans-serif;
  font-weight: 300;
}
.ui-datepicker .ui-datepicker-calendar tbody td a:hover {
  color: #000;
  background-color: #e2e6ea !important;
  border-color: #dae0e5 !important;
}
.ui-datepicker .ui-datepicker-calendar tbody td a.ui-state-active {
  background-color: #c58fac !important;
  color: #fff;
}
.ui-datepicker .ui-datepicker-calendar tbody td.ui-datepicker-other-month a {
  color: #6c757d;
}

.cfm-toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
  top: 40px;
  right: 10px;
}
.cfm-toast-container .cfm-toaster {
  opacity: 0;
  -webkit-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
  position: relative;
  overflow: hidden;
  padding: 15px 50px 15px 15px;
  width: 470px;
  border-radius: 3px;
  color: #363636;
  background: #fff;
  -webkit-box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border-left: 4px solid #fff;
  position: relative;
  z-index: -1;
}
.cfm-toast-container .cfm-toaster .cfm-toast-dismiss {
  position: absolute;
  right: 10px;
  top: 2px;
  cursor: pointer;
  z-index: 10;
  pointer-events: auto;
}
.cfm-toast-container .cfm-toaster .cfm-toast-dismiss i:before {
  font-size: 14px;
  font-weight: 400;
  color: #4976a7;
}
.cfm-toast-container .cfm-toaster.cfm-is-visible {
  opacity: 1;
  z-index: 20;
}
.cfm-toast-container .cfm-toast-error {
  border-color: #bd362f;
}
.cfm-toast-container .cfm-toast-warning {
  border-color: #F6AE2D;
}
.cfm-toast-container .cfm-toast-info {
  border-color: #06AAE0;
}
.cfm-toast-container .cfm-toast-success {
  border-color: #4ca663;
}

#wpbody-content .notice,
#wpbody-content .gslogo-admin-notice,
#wpbody-content .sbi_notice,
#wpbody-content .jitm-card {
  display: none !important;
}

.cfm-pw-admin-ui #pw-admin-bar div.pw-admin-bar-info p.update a {
  text-decoration: none;
}
.cfm-pw-admin-ui #pw-admin-bar div.pw-admin-bar-info p.update a:hover {
  text-decoration: underline;
}
.cfm-pw-admin-ui #wpbody-content .wrap.cfmh input[type=checkbox],
.cfm-pw-admin-ui #wpbody-content .wrap.cfmh input[type=radio] {
  height: 20px !important;
  width: 20px !important;
}
.cfm-pw-admin-ui #wpbody-content .wrap.cfmh .modal .modal-header .close {
  display: none;
}
.cfm-pw-admin-ui #wpbody-content .wrap.cfmh .cfm-shows-list .datatable-row .datatable-actions .btn {
  padding: 4px 8px !important;
}
.cfm-pw-admin-ui #wpbody-content .wrap.cfmh .cfm-data-table tbody td .btn {
  padding: 4px 8px !important;
}
.cfm-pw-admin-ui #wpbody-content .wrap.cfmh .cfm-wordpress-editor .insert-media {
  color: #fff;
}
.cfm-pw-admin-ui #wpbody-content .wrap.cfmh .cfm-wordpress-editor .insert-media:hover {
  background-color: #f15a24;
}
.cfm-pw-admin-ui #wpbody-content .wrap.cfmh .cfm-page-footer {
  margin-bottom: 80px;
}