@media (min-width: 576px) {
  #wpbody-content .wrap .cfm-page-footer .footer-content {
    text-align: center;
  }
  #wpbody-content .wrap .cfm-page-footer .footer-content p {
    margin: 0;
  }
  #wpbody-content .wrap .cfm-page-footer .footer-content .footer-left {
    margin-bottom: 0;
  }
  #wpbody-content .wrap .cfm-page-footer .footer-content .footer-right a {
    display: inline-block;
    margin: 5px 5px;
  }
}
@media (min-width: 768px) {
  .cfm-data-table tbody td.cfm-td-title > span {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
}
@media (min-width: 992px) {
  #wpbody-content .wrap .modal-lg, #wpbody-content .wrap .modal-xl {
    max-width: 950px;
  }
}
@media (min-width: 1200px) {
  #wpbody-content .wrap .cfm-page-footer .footer-content {
    padding-top: 10px;
    padding-bottom: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #wpbody-content .wrap .cfm-page-footer .footer-content .footer-left {
    text-align: left;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 200px;
            flex: 0 0 200px;
  }
  #wpbody-content .wrap .cfm-page-footer .footer-content .footer-left p {
    margin-bottom: 5px;
  }
  #wpbody-content .wrap .cfm-page-footer .footer-content .footer-right {
    text-align: right;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 200px);
            flex: 0 0 calc(100% - 200px);
  }
  #wpbody-content .wrap .cfm-page-footer .footer-content .footer-right a {
    margin-top: 0;
  }
}
@media (max-width: 1292px) {
  #wpbody-content .wrap .cfm-shows-list .datatable-row-group .datatable-actions {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-left: 0;
  }
  #wpbody-content .wrap .cfm-shows-list .datatable-row-group .datatable-actions > div {
    margin: 0 10px 0 0;
  }
  #wpbody-content .wrap .cfm-shows-list .datatable-row-group .datatable-actions .icon-actions {
    text-align: left;
  }
  #wpbody-content .wrap .cfm-shows-list .datatable-row-group .datatable-actions .icon-actions .btn:first-child {
    margin-left: 0;
  }
}
@media (max-width: 991px) {
  #wpbody-content .wrap .cfm-page-heading .cfm-page-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 129px);
            flex: 0 0 calc(100% - 129px);
  }
  #wpbody-content .wrap .cfm-page-heading .cfm-page-title h1 {
    font-size: 20px;
  }
  #wpbody-content .wrap .cfm-page-heading .cfm-page-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    position: relative;
    overflow: hidden;
  }
  #wpbody-content .wrap .cfm-page-heading .cfm-page-logo img {
    width: 220px;
    -o-object-position: -10px 0;
       object-position: -10px 0;
  }
  #wpbody-content .wrap .cfm-page-heading.no-art .cfm-page-title {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 40px);
            flex: 0 0 calc(100% - 40px);
  }
  #wpbody-content .wrap .cfm-page-heading.no-art .cfm-page-title h1 {
    font-size: 22px;
  }
  #wpbody-content .wrap .cfm-shows-list .datatable-row-group .datatable-body-cell {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #wpbody-content .wrap .cfm-shows-list .datatable-row-group .datatable-body-cell > div {
    display: block;
    width: 100%;
    margin: 0 0 10px 0;
  }
  #wpbody-content .wrap .cfm-shows-list .datatable-row-group .datatable-body-cell.datatable-actions select {
    width: 100%;
  }
  #wpbody-content .wrap .cfm-shows-list .datatable-row-group .datatable-body-cell.datatable-actions .icon-actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #wpbody-content .wrap .cfm-shows-list .datatable-row-group .datatable-body-cell.datatable-actions .icon-actions .btn {
    margin: 0;
    font-size: 20px;
  }
  #wpbody-content .wrap .cfm-data-table thead:not(.cfm-th-num) {
    display: none;
  }
  #wpbody-content .wrap .cfm-data-table tbody td:not(.cfm-td-num):not(.cfm-td-title) {
    display: none;
  }
  #wpbody-content .wrap .cfm-data-table tbody td.cfm-td-num {
    vertical-align: top;
    width: 60px;
  }
  #wpbody-content .wrap .cfm-data-table tbody td.cfm-td-title > span {
    margin-bottom: 10px;
    display: block;
  }
  #wpbody-content .wrap .cfm-data-table tbody td.cfm-td-title p.hidden {
    display: block;
  }
  #wpbody-content .wrap .cfm-data-table tbody td.cfm-td-title p.hidden > span {
    display: block;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #647381;
  }
  #wpbody-content .wrap .cfm-data-table tbody td.cfm-td-title p.hidden > span .status {
    margin-left: 10px;
  }
  #wpbody-content .wrap .cfm-data-table tbody td.cfm-td-title p.hidden .btn {
    margin: 10px 10px 0 0;
    font-size: 20px;
    width: 46px;
  }
  #wpbody-content .wrap .cfm-field-heading {
    font-size: 18px;
  }
  #wpbody-content .wrap .cfm-field {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 782px) {
  .cfm-data-table .dataTables_wrapper .dataTables_filter label {
    display: block;
  }
  .cfm-data-table .dataTables_filter input[type=search] {
    width: 100%;
    margin: 15px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .cfm-data-table table.dataTable tbody td {
    padding: 15px 0;
  }
}
@media (max-width: 767px) {
  #wpbody-content .wrap {
    padding: 20px 20px 20px 10px;
    width: 100%;
  }
  #wpbody-content .wrap .cfm-page-heading .cfm-page-title h1 {
    font-size: 18px;
  }
  #wpbody-content .wrap .cfm-page-heading .cfm-page-title .podcast-settings a, #wpbody-content .wrap .cfm-page-heading .cfm-page-title .podcast-settings span {
    font-size: 0;
  }
  #wpbody-content .wrap .cfm-page-heading .cfm-page-title .podcast-settings i {
    font-size: 24px;
  }
  #wpbody-content .wrap .input-group .input-group-text {
    width: 0;
    padding: 0;
    margin-right: -1px;
  }
  .cfm-toast-container .cfm-toaster {
    width: 100%;
  }
}
@media (max-width: 575px) {
  #wpbody-content .wrap .cfm-data-table .search-episodes {
    width: 100%;
  }
  #wpbody-content .wrap .cfm-data-table .search-episodes input {
    width: 100%;
    min-width: auto !important;
  }
}
@media (max-width: 479px) {
  #wpbody-content .wrap .manage-podcasts .btn {
    width: 100%;
  }
}